$dark-color: #111111;
$light-color: #ffffff;
$border-color: #008060;
$red-color: #ff0000;
$backGHF-color: rgb(224, 224, 186);

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// max-width Form
$mxw-form: 800px;

// min-width Form
$mnw-form: 320px;

// LoginForm
$valid-color: rgba(0, 255, 0, 0.3);
$invalid-color: rgba(255, 0, 0, 0.3);

// Font size
$font-s14: 14px;
$font-s20: 20px;
