@import "./../../common/styles/templates";
@import "./../../common/styles/vars";

* {
  box-sizing: border-box;
}

.footerPageContainer {
  @extend %flex-container;
  flex-direction: row;

  padding: 35px;
  font-size: $font-s14;
  & > * {
    margin-right: 100px;
  }
  p > a {
    @extend %text-decoration-none;
  }
}
