@import "./../../common/styles/templates";
@import "./../../common/styles/vars";

* {
  box-sizing: border-box;
}

.container {
  @extend %flex-container;
  flex-direction: row;
  flex-wrap: wrap;

  max-width: 800px;
  min-width: 300px;
  width: 100%;

  margin: 10px auto 0;

  border: 15px solid $border-color;

  & > * {
    @extend %flex-container;
    width: 50%;
    align-items: center;
    flex-basis: 240px;
    flex-grow: 1;
  }
}

.containerDay {
  flex-direction: column;

  background-color: #2cdaae;

  .thisDay {
    font-size: 25px;
    color: green;
    text-transform: uppercase;
    margin-top: 30px;
  }

  .thisNumber {
    font-size: 150px;
    color: $light-color;
    padding: 10px;
    text-align: center;
  }
}
.containerMonth {
  justify-content: center;
}
.containerTable {
  margin: 30px 10px 20px;
}

.containerCaption {
  color: $border-color;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 20px;
}
.containerThead {
  color: $red-color;
}

.containerTd {
  padding: 6px;
  color: gray;
  text-align: right;
}
.sameDayBox {
  border: 3px solid $red-color;
  border-radius: 50%;
  color: $red-color;
  font-weight: bold;
}

.hideAnotherMonth {
  color: $light-color;
}
