* {
  box-sizing: border-box;
}
.input {
  margin: 0;
  width: 100%;

  box-sizing: border-box;

  font-size: 16px;
  height: auto;
  padding: 21px 23px;

  border: 2px solid #fff;
  border-radius: 4px;
}

.fieldContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 160px;
  // max-width: 400px;

  margin: 10px auto;
  height: 80px;
  padding: 0 14px 1.15rem;
  position: relative;
}

.validInput {
  border: 2px solid lightgreen;
}
.invalidInput {
  border: 2px solid lightcoral;
}

.errorBox {
  width: 100%;
  max-width: 240px;
  color: #fff;
  font-size: 12px;
  margin: 1px 0;

  border: 1px solid red;
  text-align: center;
  padding: 1px 0;
  position: absolute;
  top: 80%;
  left: 6%;
}
