@import "./../../common/styles/vars";
@import "./../../common/styles/templates";

* {
  box-sizing: border-box;
}

.containerPageHeader {
  @extend %flex-container;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: $backGHF-color;
  margin-top: 0;

  & > * {
    @extend %list-style-none;
    margin-right: 20px;
  }
  li > a {
    @extend %text-decoration-none;
  }
  .logoHome {
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
}
